:root {
  --main-color: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  --second-color: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
}

body {
  display: block;
  margin: 160px auto;
  max-width: 1000px;
  background: var(--main-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3,
.links-section {
  text-align: center;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
  font-weight: 200;
}

.links-section {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.container {
  background: var(--second-color);
  border: 1px solid black;
  border-radius: 10px;
  margin: 60px 40px;
  padding: 60px 40px;
}

.container-about {
  text-align: center;
  background: var(--second-color);
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 40px;
  padding: 60px 40px;
}

.link-1,
.link-2 {
  background: #e4f1fe;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  margin-top: 15px;
  padding: 15px 25px;
  border: 2px solid black;
  border-radius: 10px;
}

.link-2 {
  margin-left: 30px;
}

.about-info {
  display: flex;
  justify-content: space-evenly;
}
.info-1 {
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px 15px;
  margin-right: 10px;
}

.info-2 {
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px 15px;
  margin-left: 20px;
}

.container-contact-info p {
  font-size: 14px;
}

a:hover {
  color: blueviolet;
}

a:visited {
  color: indianred;
}
